html{
    width: 100%;
    height: 100%;
    margin:0px;
    font-family: "verdana";
    background-color: #fcf9f9;
}

header {
  width: auto;
  height: 100px;
  background-color: #fcf9f9;
}

#cap{
  width: auto;
  height: 100px;
  padding-left: 35px;
  padding-top: 35px;
  padding-bottom: 35px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}


#fb{
  width: auto;
  height: 800px;
  padding-left: 35px;
  padding-top: 35px;
  padding-bottom: 35px;
  align-items: baseline;
  background-color: #fcf9f9;
}

#explicacio_fb{
  width: 500px;
  height: auto;
  float: right;
  padding-left: 35px;
  padding-top: 35px;
  padding-bottom: 35px;
  padding-right: 35px;
  font-size: 35px;
   color:#044399;
}

#tw{
  width: auto;
  height: 800px;
  padding-left: 35px;
  padding-top: 35px;
  padding-bottom: 35px;
  background-color:#e0eaf9;
}

#explicacio_tw{
  width: 500px;
  height: auto;
  float: right;
  padding-left: 35px;
  padding-top: 35px;
  padding-bottom: 35px;
  padding-right: 35px;
  font-size: 35px;
   color:#044399;
}

#yb{
  width: auto;
  height: 800px;
  padding-left: 35px;
  padding-top: 35px;
  padding-bottom: 35px;
  /*background-color: #fcdee2;*/
}

#explicacio_yb{
  width: 500px;
  height: auto;
  float: right;
  padding-left: 35px;
  padding-top: 35px;
  padding-bottom: 35px;
  padding-right: 35px;
  font-size: 35px;
   color:#f92f32;
}

#ig{
  width: auto;
  height: 800px;
  padding-left: 35px;
  padding-top: 35px;
  padding-bottom: 35px;
  background-color: #f9d9f7;
}

#explicacio_ig{
  width: 500px;
  height: auto;
  float: right;
  padding-left: 35px;
  padding-top: 35px;
  padding-bottom: 35px;
  padding-right: 35px;
  font-size: 35px;
   color:#60028e;
}
